*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.kotlin
.DS_Store
captures
.externalNativeBuild
.cxx
iosApp/iosApp.xcodeproj/*
iosApp/iosApp.xcodeproj/project.pbxproj
iosApp/iosApp.xcodeproj/xcshareddata/
iosApp/iosApp.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings